# ignore aws ssh key file
*.pem

# ignore python compiled files ( fabric config file )
*.pyc

# ignore minified files
*.min.*

# ignore vscode directory
.vscode

# ignore package-lock.json
package-lock.json

# ignore directory
node_modules
bower_components
.tmp
dist